:root {
    --main-color: #5D8A66;
    --main-darker: #1A6566;
    --secondary-color: #45214A;
    --secondary-lighter: #9949A3;
    --secondary-darker: #323050;
    --tertiary-color: #21445B;
    --main-font: "Raleway", sans-serif;
    --secondary-font: "Jost", sans-serif;
    --name-font: "Bad Script";
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    font-family: var(--main-font);
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

/* HEADER */
#navbar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 5%, rgba(255, 255, 255, 0) 100%);
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 900;
    transition: background 0.3s ease;
}

#navbar a:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2.5rem;
}

#media {
    display: flex;
    position: fixed;
    height: 6rem;
    width: 25rem;
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.8) 5%, rgba(255, 255, 255, 0) 100%);
    bottom: 2vh;
    right: 3vw;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

#media a {
    padding: 1rem;
}

#media i {
    font-size: 3rem;
    margin: 0 1rem;
}

@media only screen and (max-width: 768px) {
    #navbar ul {
        gap: 1rem;
    }
    
    #navbar a {
        font-size: 1.4rem;
        padding: 2rem 3rem;
    }

    #media a {
        padding: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    #navbar ul {
        gap: .1rem;
    }
    
    #navbar a {
        font-size: 1.4rem;
        padding: .6rem 1.2rem;
    }

    #media a {
        padding: .4rem;
    }
}

/* WELCOME SECTION */
#welcome-section {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

#welcome-section h1 {
    font-family: var(--name-font);
    text-align: center;
    font-weight: 900;
    font-size: 6rem;
}

#welcome-section h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

#welcome-section span {
    color: red;
    font-weight: 800;
}

#welcome-deco .circle1, .circle2, .circle3 {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    width: 40rem;
    height: 40rem;
    background-color: var(--main-darker);
    left: -20rem;
    bottom: -10rem;
}

.circle2 {
    width: 25rem;
    height: 25rem;
    background-color: var(--main-darker);
    left: 10rem;
    bottom: -12rem;
}

.circle3 {
    width: 30rem;
    height: 30rem;
    background-color: var(--main-darker);
    right: -12rem;
    bottom: -15rem;
}

@media only screen and (max-width: 360px) {
    .circle1 {
        width: 20rem;
        height: 20rem;
        left: -10rem;
        bottom: -5rem;
    }

    .circle2 {
        width: 18rem;
        height: 18rem;
        left: 5rem;
        bottom: -10rem;
    }

    .circle3 {
        width: 15rem;
        height: 15rem;
        right: -6rem;
        bottom: -7.5rem;
    }
}

/* KNOWLEDGE SECTION */
#knowledge-section {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 2;
}

.knowledge-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    position: relative;
    text-align: center;
}

.knowledge-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge-content i {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.knowledge-content p {
    font-size: 1.6rem;
}

#knowledge-deco {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.1);
}

/* PROJECTS SECTION */
#projects {
    background-color: var(--main-color);
    padding: 10rem 2rem;
    position: relative;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
}

.projects-content img {
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.projects-content img:hover {
    transform: scale(1.05);
}

.projects-content h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.projects-content p {
    text-align: center;
    font-size: 1.4rem;
}

#projects-deco {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25rem;
    color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 360px) {
    #projects {
        padding: 1rem 2rem;
    }
}

/* ABOUT ME SECTION STARTS */

#who-im-section {
    width: 100%;
    background-color: var(--tertiary-color);
    display: inline-flex;
    position: relative;
    z-index: 5;
    padding: 0 2rem;
}

#who-im-section img {
    height: 50rem; /* Ajusta la altura de la imagen */
    width: auto; /* Mantén la proporción de la imagen */
    position: absolute;
    top: 10%; /* Ajusta la posición superior de la imagen */
    right: 5%; /* Ajusta la posición derecha de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
}

#who-im-container {
    display: block;
    margin-left: 2rem; /* Agrega margen izquierdo para separar del borde de la imagen */
}

#who-im-container h2 {
    font-size: 4rem;
    margin: 6rem 0 2rem 0; /* Ajusta el margen */
    color: orangered;
}

.txt2 {
    width: 100%; /* Cambia el ancho a 100% */
    max-width: 60rem; /* Establece un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    margin: 0 auto; /* Centra el texto */
    border-left: .4rem solid orangered; /* Ajusta el grosor del borde */
    padding: 4rem 1rem;
}

#who-im-section p {
    font-size: 1.8rem; /* Ajusta el tamaño del texto */
    padding-left: 1rem; /* Ajusta el padding */
}

#footer {
    height: 8rem;
    width: 100%;
    border-top: 1rem solid var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer p {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.6rem;
}

@media only screen and (min-width: 1200px) {
    #who-im-section {
        padding: 3rem 2rem;
    }

    #who-im-section img {
        height: 60rem;
        right: 18%;
    }
}

@media only screen and (max-width: 768px) {
    #who-im-section img {
        height: 40rem; /* Ajusta la altura de la imagen en pantallas pequeñas */
        top: 15%; /* Ajusta la posición superior de la imagen */
        right: 3%; /* Ajusta la posición derecha de la imagen */
    }

    #who-im-container h2 {
        font-size: 3.5rem;
        margin-left: 1rem; /* Ajusta el margen izquierdo */
    }

    .txt2 {
        width: 70%;
        margin-left: 2rem; /* Ajusta el margen izquierdo */
        border-left: .3rem solid orangered; /* Ajusta el grosor del borde */
    }

    #who-im-section p {
        padding-left: 0.5rem; /* Ajusta el padding */
    }

    #footer {
        border-top: 1rem solid var(--main-color);
        height: 6rem;
    }

    #footer p {
        font-size: 1.4rem;
        margin: 1.5rem auto;
    }
}

@media only screen and (max-width: 360px) {
    #who-im-section img {
        display: none;
    }

    #who-im-container h2 {
        font-size: 3rem;
        margin-left: .5rem;
    }

    .txt2 {
        width: 100%;
        margin-left: -2rem;
        border-left: .3rem solid orangered;
    }

    #who-im-section p {
        padding-left: 0.5rem; /* Ajusta el padding */
        font-size: 16px;
    }

    #footer {
        border-top: 1rem solid var(--main-color);
        height: 6rem;
    }

    #footer p {
        font-size: 1.4rem;
        margin: 1.5rem auto;
    }
}