:root {
    --main-color: #5D8A66;
    --main-darker: #1A6566;
    --secondary-color: #45214A;
    --secondary-lighter: #9949A3;
    --secondary-darker: #323050;
    --tertiary--color: #21445B;
    --main-font: "Raleway", sans-serif;
    --secondary-font: "Jost", sans-serif;
    --name-font: "Bad Script";
}

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    font-family: var(--main-font);
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

/* GLOBALS ENDS */

/* ----------------------------------------------------------------------------------------------------------- */

/* HEADER STARTS */

#navbar {
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.8) 5%, rgba(255, 255, 255, 0) 100%);
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

#navbar ul {
    margin-right: 5vw;
    display: flex;
    gap: 2vw;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    align-self: center;
    text-decoration: none;
    padding: 2rem 5rem;
    color: azure;
    font-size: 2rem;
    font-weight: 900;
    border-radius: .5rem;
}

#navbar a:hover {
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
    border-radius: 2.5rem;
    transition: .5s;
}

#media {
    display: flex;
    position: fixed;
    height: 6rem;
    width: 25rem;
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.8) 5%, rgba(255, 255, 255, 0) 100%);
    bottom: 2vh;
    right: 3vw;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

#media a {
    padding: 1rem;
}

#media i {
    font-size: 3rem;
    margin: 0 1rem;
}

@media only screen and (max-width: 768px) {
    #navbar ul {
        gap: 1rem;
    }
    
    #navbar a {
        font-size: 1.4rem;
        padding: 2rem 3rem;
    }

    #media a {
        padding: 1rem;
    }
}

/* HEADER ENDS */

/* ----------------------------------------------------------------------------------------------------------- */

/* WELCOME SECTION STARTS */

#welcome-section {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    cursor: default;
    z-index: 1;
}

#welcome-section h1 {
    font-family: "Bad Script";
    text-align: center;
    font-weight: 900;
    font-size: 8rem;
}

#welcome-section h2 {
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}

#welcome-section span {
    color: red;
    font-weight: 800;
}

#welcome-deco {
    overflow-x: hidden;
}

.circle1 {
    height: 60rem;
    width: 60rem;
    background-color: var(--main-darker);
    position: absolute;
    border-radius: 50%;
    left: -30rem;
}

.circle2 {
    height: 40rem;
    width: 40rem;
    background-color: var(--main-darker);
    position: absolute;
    border-radius: 50%;
    left: 8vw;
    bottom: -20vh;
}

.circle3 {
    height: 50rem;
    width: 50rem;
    background-color: var(--main-darker);
    position: absolute;
    border-radius: 50%;
    right: -15rem;
    bottom: -20rem;
}

@media only screen and (max-width: 768px) {
    #welcome-section h1 {
        font-size: 6rem;
    }

    #welcome-section h2 {
        font-size: 3rem;
    }

    .circle1 {
        height: 40rem;
        width: 40rem;
        bottom: -10rem;
        left: -20rem;
    }

    .circle2 {
        height: 25rem;
        width: 25rem;
        bottom: -12rem;
        left: 10rem;
    }

    .circle3 {
        height: 30rem;
        width: 30rem;
        bottom: -15rem;
        right: -12rem;
    }
}

/* WELCOME SECTION ENDS */

/* ----------------------------------------------------------------------------------------------------------- */

/* KNOWLEDGE SECTION STARTS */

#knowledge-section {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.knowledge-container {
    width: 60%;
    height: 60rem;
    background-color: var(--secondary-lighter);
    border-radius: .8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.knowledge-content {
    height: 50rem;
    width: 30rem;
    background-color: white;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    color: black;
    text-align: center;
    position: relative;
    z-index: 3;
}

.knowledge-content i {
    margin-top: 2rem;
    font-size: 20rem;
    
}

.knowledge-content:nth-of-type(2) i {
    color: #E54C21;
}

.knowledge-content:nth-of-type(4) i {
    color: #214CE5;
}

.knowledge-content:nth-of-type(6) i {
    color: #DAC521;
}

.knowledge-content p {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 3rem 1.5rem 0 1.5rem;
    font-family: var(--secondary-font);
}

.knowledge-content span {
    font-weight: 800;
}

#knowledge-deco {
    overflow-x: hidden;
}

#knowledge-deco i {
    position: absolute;
    right: -4rem;
    bottom: -12rem;
    font-size: 60rem;
    z-index: 2;
    color: var(--secondary-lighter);
}

@media only screen and (max-width: 1400px) {
    .knowledge-container {
        height: 55rem;
    }

    .knowledge-content {
        height: 45rem;
        width: 28rem;
    }

    .knowledge-content p {
        font-size: 2rem;
    }

    .knowledge-content i {
        font-size: 18rem;
    }
}

@media only screen and (max-width: 1000px) {
    .knowledge-container {
        width: 85%;
    }
    .knowledge-content {
        height: 45rem;
        width: 28rem;
    }
}

@media only screen and (max-width: 768px) {
    .knowledge-container {
        height: 65rem;
        width: 80%;
        flex-wrap: wrap;
    }

    .knowledge-content {
        height: 30rem;
        width: 26rem;
    }

    .knowledge-content p {
        font-size: 1.6rem;
    }

    .knowledge-content i {
        margin-top: 1rem;
        font-size: 12rem;
    }

    #knowledge-deco i {
        font-size: 40rem;
    }
}

/* KNOWLEDGE SECTION ENDS */

/* ----------------------------------------------------------------------------------------------------------- */

/* PROJECTS SECTION STARTS  */

#projects {
    width: 100%;
    background-color: var(--tertiary--color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4rem 12rem;
    width: 100%;
    height: 100vh;
    max-width: 130rem;
    max-height: 80rem;
    margin: 6rem auto 0;
}

.project-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 75%;
}

.project-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.project-3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.projects-content {
    background-color: var(--main-color);
    margin: 1rem;
    border-radius: .5rem;
    padding: 10px;
    color: black;
    text-align: center;
    opacity: 0.9;
}

.projects-content a {
    position: relative;
}

.projects-content img {
    margin-top: 1.5rem;
    width: 90%;
    border-radius: .5rem;
    object-fit: scale-down;
}

.project-2, .project-3 img {
    opacity: 1;
    transition: .5s;
    backface-visibility: hidden;
}

.mid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-52%, -150%);
}

.projects-content:hover img {
    opacity: 0.3;
}

.projects-content:hover .mid {
    opacity: 1;
}

.txt {
    background-color: var(--main-color);
    color: white;
    font-size: 2.4rem;
    width: 45rem;
    background-color: transparent;
    text-shadow: .2rem .2rem .2rem black;
}

.projects-content h3 {
    width: 100%;
    border-radius: .5rem;
    font-size: 2.4rem;
    margin-top: 2rem;
}

.projects-content p {
    font-size: 2.4rem;
    margin: 2rem 2rem 0 2rem;
    color: azure;
    font-family: var(--secondary-font);
}

.projects-content:hover {
    filter: brightness(0.95);
    transition: 0.5s;
}

#projects-deco {
    overflow-x: hidden;
}

#projects-deco i {
    position: absolute;
    font-size: 90rem;
    left: -15rem;
    z-index: -1;
    bottom: -20rem;
    opacity: 0.6;
}

@media only screen and (max-width: 1400px) {
    #projects-container {
        gap: 3rem 6rem;
        margin: 6rem 2rem 0;
    }
}

@media only screen and (max-width: 1100px) {
    .txt {
        font-size: 1.8rem;
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 768px) {
    #projects-container {
        gap: 2rem 3rem;
    }

    .projects-content p {
        font-size: 1.8rem;
    }

    .txt {
        font-size: 1.8rem;
        width: 30rem;
        margin-top: 26rem;
    }

    .mid {
        transform: translate(-50%, -50%);
    }
}

/* PROJECTS SECTION ENDS */

/* ----------------------------------------------------------------------------------------------------------- */

/* ABOUT ME SECTION STARTS */

#who-im-section {
    width: 100%;
    background-color: var(--tertiary--color);
    display: inline-flex;
    position: relative;
    z-index: 5;
}

#who-im-section img {
    height: 60rem;
    position: absolute;
    top: 12%;
    right: 16%;
}

#who-im-container {
    display: block;
}

#who-im-container h2 {
    font-size: 4.5rem;
    margin: 14rem 0 2rem 8rem;
    color: orangered;
}

.txt2 {
    width: 50%;
    margin: 0 12rem;
    border-left: .8rem solid orangered;
    padding: 4rem 0 4rem .5rem;
}

#who-im-section p {
    font-size: 2.4rem;
    padding-left: 4rem;
}

#footer {
    height: 10rem;
    width: 100%;
    border-top: 15px solid var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer p {
    text-align: center;
    margin: 3rem auto;
    font-size: 16px;
}

@media only screen and (max-width: 1500px) {
    #who-im-section img {
        height: 60rem;
        right: 10%;
    }

    #who-im-section p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    #who-im-section img {
        height: 50rem;
        top: 25%;
        right: 5%;
    }

    #who-im-container h2 {
        font-size: 4rem;
        margin-left: 3rem;
    }

    .txt2 {
        margin-left: 5rem;
        border-left: .4rem solid orangered;
    }

    #who-im-section p {
        padding-left: 1rem;
    }

    #footer p {
        font-size: 1.6rem;
        margin: 2rem auto;
    }

    #footer {
        border-top: 1rem solid var(--main-color);
        height: 8rem;
    }
}